<!--extends的用法-->
{% extends "blog/base.html" %}
<!--blog_tags.py中的total_posts, show_latest_posts, get_most_commented_posts生效-->
{% load blog_tags %}

<!--title的用法-->
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <!--views.py中post_detail给出post-->
    <h1>{{ post.title }}</h1>
    <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
    <!--blog_tags给出markdown-->
    {{ post.body|markdown }}
    <!--blog/urls.py中post_share给出blog:post_share-->
    <p><a href="{% url "blog:post_share" post.id %}">Share this post</a></p>
    
    <h2>Similar posts</h2>
    <!--blog/views.py中post_detail给出similar_posts-->
    {% for post in similar_posts %}
        <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
    <!--similar_posts为空时,empty部分生效-->
    {% empty %}
        There are no similar posts yet.
    {% endfor %}

    <!--comments数量-->
    {% with comments.count as total_comments %}
        <!--pluralize显示total_comments-->
        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
    {% endwith %}

    <!--forloop.counter表示第几条评论,linebreaks显示comment.body-->
    {% for comment in comments %}
        <div class="comment">
            <p class="info">Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}</p>
            {{ comment.body|linebreaks }}
        </div>
    <!--comments为空时,empty部分生效-->
    {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}

    <!--提交评论后-->
    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
    <!--提交评论的表单-->
        <h2>Add a new comment</h2>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {%  endif %}
{% endblock %}